<!DOCTYPE html>
<html lang="en">
<head>
<title>Template</title>
<style>
/* Inline Style Here */
</style>

<script type="text/javascript">
/* Inline Script Here */
</script>

</head>

<body onload="">
<% include header %>
<br><br><br><br><br>
<div class="container">
<h2>Invalid Refresh</h2>
<div><h4>Please select from the menu. Sorry for the inconvenience.</h4></div>

</div>	
<br><br><br><br><br><br><br><br><br><br><br><br>
<% include footer %>
</body>
</html>