<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>Analysis</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    
    <form>
       <fieldset>
          <legend>Job Type</legend>
       <table>
       <tr><td>
             <label>Job Type</label></td>
             <td><select id = "myList">
             <option value = "0">select job type</option>
               <option value = "1">one</option>
               <option value = "2">two</option>
               <option value = "3">three</option>
               <option value = "4">four</option>
             </select></td>
        <td>
          <legend>Employer</legend></td>
          <td>
            
             <select id = "myList">
             <option value = "0">select Employer</option>
               <option value = "1">one</option>
               <option value = "2">two</option>
               <option value = "3">three</option>
               <option value = "4">four</option>
             </select>
          </td>
          <td>
          
          <legend>Sort By</legend></td>
       <td>
             
             <select id = "myList">
             <option value = "0">select job type</option>
               <option value = "1">one</option>
               <option value = "2">two</option>
               <option value = "3">three</option>
               <option value = "4">four</option>
             </select>
          </td>
          </tr>
       </fieldset>
    </form>
  </body>
</html>