<!DOCTYPE html>
<% include template %>
<meta charset="utf-8">
<head>
<style>
#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}		
</style>

<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>



<script>


var chart = AmCharts.makeChart("chartdiv", {
	"type": "serial",
	"pathToImages": "http://cdn.amcharts.com/lib/3/images/",
	"categoryField": "companyName",
	"rotate": true,
	"startDuration": 1,
	"categoryAxis": {
		"gridPosition": "start",
		"position": "left"
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "fullTime:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-1",
			"lineAlpha": 0.2,
			"title": "fullTime",
			"type": "column",
			"valueField": "fullTime"
		},
		{
			"balloonText": "internship:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-2",
			"lineAlpha": 0.2,
			"title": "internship",
			"type": "column",
			"valueField": "internship"
		}
	],
	"guides": [],
	"valueAxes": [
		{
			"id": "ValueAxis-1",
			"position": "top",
			"axisAlpha": 0
		}
	],
	"allLabels": [ ],
	"amExport": {
		"right": 20,
		"top": 20
	},
	"balloon": {},
	"titles": [],
	"dataProvider": [ { "internship": 14,companyName: 'adobe', "fullTime": 80 },
	                  { "internship": 12, companyName: 'Amazon', "fullTime": 102 },
	             
	                  { "internship": 12, companyName: 'ebay', "fullTime": 537 },
	                  { "internship": 36, companyName: 'facebook',"fullTime": 215 },
	                  { "internship": 4, companyName: 'google', "fullTime": 62 },
	                 
	                  { "internship": 31,  companyName: 'microsoft', "fullTime":25 },
	                  
});


</script>

<a href="/showmaps">Go Back </a>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Main Menu</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="/SalaryAnalysis">Salary Analysis</a></li>

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Know your company<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/companyRatingAnalysis">Ratings</a></li>
						<li><a href="/showCompanyReviews">Reviews</a></li>
					</ul></li>
				<li class="dropdown active"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Job Trends<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/getBarChartCali">Full Time vs part Time in
								CA </a></li>
						<li class="active"><a href="/showmaps">State wise job count</a></li>
					</ul></li>

				<li><a href="/contact">Most Trending</a></li>
			</ul>

				<!-- /.navbar-collapse -->
		</div>

	</div>
	<!-- /.container -->
</nav>


<!-- Page Content -->
<div class="container">

	<!-- Features Section -->
	<div class="row">
		<div class="col-lg-12"><div id="chartdiv"></div>
			
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-md-6">
			<div id="mapdiv" style="width:100%; height: 400px;"></div>
		</div>
		
	</div>
	
	<hr>


	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; Your Website 2014</p>
			</div>
		</div>
	</footer>

</div>
<!-- /.container -->
</body>


