<!DOCTYPE html>
<html lang="en">

<% include template %>
<style>
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}


</style>

<body onload="getData()">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Techno Trends</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				
				<li>
					<a href="/SalaryAnalysis">Salary Analysis</a>
				</li>

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Know your company<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/companyRatingAnalysis">Ratings</a></li>
						<li><a href="/showCompanyReviews">Reviews</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Job Trends<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/getBarChartCali">Full Time vs part Time in
								CA </a></li>
						<li><a href="/showmaps">State wise job count</a></li>
					</ul></li>

				<li><a href="/showtest">Most Trending</a></li>
			</ul>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
</nav>


	<!-- Page Content -->
	<div class="container">

		<!-- Features Section -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header"><%=dat%> - Job Count Visualization</h2>
				<p>We integrate information from the best sources to make sure
					that you are equipt with the right tools to get that dream job</p>
			</div>
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-6">
				<div id="treeDiv"></div>
			</div>
			
		</div>
		
		<hr>


		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Your Website 2014</p>
				</div>
			</div>
		</footer>
		<input type="hidden" value="<%=dat%>" id="stateName"/>
	</div>
	<!-- /.container -->
</body>
<script type="text/javascript" src="../lib/jquery.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var root;
var stateName;

function getData(){
	
	stateName = document.getElementById('stateName').value;
	console.log("____________"+stateName);
	var url = '/getJobcountData/'+stateName;
	$.get(url, function(jobCountData) {
	root={
			    "name": "flare",
			    "children": [
			        {
			  
			                    "name": "cluster",
			                    "children": jobCountData
			                }
			            ]
			        };
		showTreeMap();
	});

}

function showTreeMap(){

var margin = {top: 40, right: 10, bottom: 10, left: 10},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var color = d3.scale.category20c();

var treemap = d3.layout.treemap()
    .size([width, height])
    .sticky(true)
    .value(function(d) { return d.size; });

var div = d3.select("#treeDiv").append("div")
    .style("position", "relative")
    .style("width", (width + margin.left + margin.right) + "px")
    .style("height", (height + margin.top + margin.bottom) + "px")
    .style("left", margin.left + "px")
    .style("top", margin.top + "px");
    

 var node = div.datum(root).selectAll(".node")
      .data(treemap.nodes)
    .enter().append("div")
      .attr("class", "node")
      .call(position)
      .style("background", function(d) { 
    	  return d.children ? color(d.name) : null; })
      .text(function(d) { return d.children ? null : d.name; }).on("click", function(d){
    	 
    	  console.log("mouseClick"+d.name);
    	 	var url = '/showBubble/'+stateName+'/'+d.name;
    	  console.log("URL_____________"+url);
    	  $(location).attr('href',url);
    		
      });

  d3.selectAll("input").on("change", function change() {
    var value = this.value === "count"
        ? function() { return 1; }
        : function(d) { return d.size; };

    node
        .data(treemap.value(value).nodes)
      .transition()
        .duration(1500)
        .call(position);
  });


function position() {
  this.style("left", function(d) { return d.x + "px"; })
      .style("top", function(d) { return d.y + "px"; })
      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
}

}

</script>


</html>