<!DOCTYPE html>
<html lang="en">

<% include template %>

<head>
<style>
.carousel-inner {
	background-image: url('../images/bg.jpg');
	max-width: 100%; 
	max-height : 100%;
	background-repeat: no-repeat;
	

}

td {
	padding-right: 95px;
}
</style>
</head>
<h2 align="center">Welcome to the Dashboard</h2>



<div id="carousel-example-generic" class="carousel slide"
	data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0"
			class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">

			<img src="images/bg.jpg" alt="...">
			<div class="carousel-caption">
				<h3>Caption Text</h3>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x315" alt="...">
			<div class="carousel-caption">
				<h3>Caption Text</h3>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x315" alt="...">
			<div class="carousel-caption">
				<h3>Caption Text</h3>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic"
		role="button" data-slide="prev"> <span
		class="glyphicon glyphicon-chevron-left"></span>
	</a> <a class="right carousel-control" href="#carousel-example-generic"
		role="button" data-slide="next"> <span
		class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
<!-- Carousel -->

<section id="services" class="page-section colord" Style="float: right">

	<div class="container" Style="float: right">
		<div class="row">
			<div class="heading text-center">
				<!-- Heading -->
				<table>
					<tr>
						<td><a href="/showRegionMap"> <img
								src="images/heatmap.png" />
						</a></td>

						<td><a href="/showAcceptRejectMap"> <img
								src="images/Accept.png" /></a></td>

						<td><a href="/showLineChart"> <img src="images/line.png" /></a>
						</td>
					</tr>
					<tr>
						<td><a href="/showRegionMap"><font color="white">U.S
									Map to show EHR Adoption per state</font></a></td>
						<td><a href="/showAcceptRejectMap"><font color="white">Chart
									to show Acceptance and Rejection rate of EHR</font></a></td>
						<td><a href="/showLineChart"><font color="white">Chart
									to show Meaningful use of EHR</font></a></td>
					</tr>

				</table>

			</div>

		</div>
	</div>
</section>


</body>


<script>
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>