<!DOCTYPE html>
<html lang="en">

<% include template %>

<head>
<style>
td {
    padding-right: 35px;
}
</style>
</head>
<h2 align="center">Welcome to the Dashboard</h2>

<section id="services" class="page-section colord" Style="float:right">

    <div class="container" Style="float:right">
      <div class="row">
        <div class="heading text-center"> 
          <!-- Heading -->
         <table>
     <tr><td>
          <a href="/showRegionMap">
          <img src="images/heatmap.png" /> </a>
          </td>
         
          
     
          <td>
          <a href="/showAcceptRejectMap">
          <img src="images/Accept.png"  /></a>
          </td>
          </tr>
          </table>
         
        </div>
        
      </div>
      </div>
      </section>
      
      
</body>	

</html>