
<head>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" href="css/button.css" />
<link rel="stylesheet" type="text/css" href="css/isotope.css"
	media="screen" />
<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css"
	type="text/css" media="screen" />
<link href="css/animate.css" rel="stylesheet" media="screen">
<!-- Owl Carousel Assets -->
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css" />
<!-- Font Awesome -->
<link href="font/css/font-awesome.min.css" rel="stylesheet">


<script src="js/jquery-1.11.3.min.js"></script>
<script>
   var $jQ = $.noConflict();  // use $jQ instead of $ for normal jQuery

</script>
<script src="js/modernizr-latest.js"></script>

<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.isotope.min.js" type="text/javascript"></script>
<script src="js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="js/jquery.nav.js" type="text/javascript"></script>
<script src="js/jquery.fittext.js"></script>




</head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!--[if lt IE 9]> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
<title>Intuitive Predictions EHR</title>
<meta name="description" content="">
<meta name="author" content="WebThemez">
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lte IE 8]>
		<script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
	<![endif]-->


</head>

<body>	

 <!--      <h2 style="align:center" class="heading text-center">Dynamic Visualizations !</h2> -->
		
				<!-- Slider -->
				
				<div class="row" >
					<div class="col-xs-12" id="slider">
						<!-- Top part of the slider -->
						<div class="row">
							<div class="col-sm-8" id="carousel-bounding-box">
								<div class="carousel slide" id="myCarousel" >
									<!-- Carousel items -->
									<div class="carousel-inner">
										<div class="active item" data-slide-number="0">
											<img src="images/finalmap.png" style="min-height:50% ; min-width: 50%">
										</div>

										<div class="item" data-slide-number="1">
											<img src="images/negchart.png">
										</div>

										<div class="item" data-slide-number="2">
											<img src="images/linechart.png">
										</div>

										<div class="item" data-slide-number="3">
											<img src="images/stacked.png">
										</div>

										<div class="item" data-slide-number="4">
											<img src="images/map2.png">
										</div>

										<div class="item" data-slide-number="5">
											<img src="http://placehold.it/770x300&text=six">
										</div>
									</div>
									<!-- Carousel nav -->
									<a class="left carousel-control" href="#myCarousel"
										type="button" data-slide="prev"> <span
										class="icon-prev"></span>
									</a> <a class="right carousel-control" href="#myCarousel"
										type="button" data-slide="next"> <span
										class="icon-next" aria-hidden="true"></span>
									</a>
								</div>
							</div>

							<div class="col-sm-4" id="carousel-text"></div>

							<div id="slide-content" style="display: none;">
								<div id="slide-content-0">
								<br>
									<h2>EHR Adoption Rate Map</h2>
									<p>This chart depicts the EHR adoption rate in United States</p>
								
									<nav class="cl-effect-3">
									 <a href="/showRegionMap"><span data-hover="View">View</span></a>
									 </nav>
									
								</div>

								<div id="slide-content-1">
								<br>
									<h2>Insurance Accept/Reject Chart</h2>
									<p>This chart depicts the EHR Acceptance and Rejection rate based upon age group in United States</p>
								
									<nav class="cl-effect-3">
									 <a href="/showAcceptRejectMap"><span data-hover="View">View</span></a>
									 </nav>
									
								</div>

								<div id="slide-content-2">
								<br>
									<h2>Meaningful use of EHR</h2>
									<p>This chart displays the meaningful use of EHR in United States</p>
								
									<nav class="cl-effect-3">
									 <a href="/showLineChart"><span data-hover="View">View</span></a>
									 </nav>
									
								</div>

								<div id="slide-content-3">
								<br>
									<h2>Trends in EHR Adoption</h2>
									<p>This chart portrays </p>the trends in EHR Adoption showing increasing use of advanced functionality.
								
									<nav class="cl-effect-3">
									 <a href="/showStackedChart"><span data-hover="View">View</span></a>
									 </nav>
			
								</div>

								<div id="slide-content-4">
								<br>
									<h2>Trends in EHR Adoption By  different hospital types </h2>
									<p>This chart portrays </p>the trends in EHR Adoption showing increasing use of advanced functionality by different Hospital types.
								
									<nav class="cl-effect-3">
									 <a href="/showPie"><span data-hover="View">View</span></a>
									 </nav>
								</div>

								<div id="slide-content-5">
								<br>
									<h2>Slider Six</h2>
									<p>Lorem Ipsum Dolor</p>
									<p class="sub-text">
										October 24 2014 - <a href="#">Read more</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/Slider-->
<br>
				<div class="row hidden-xs" id="slider-thumbs">
					<!-- Bottom switcher of slider -->
					<ul class="hide-bullets" style="list-style-type: none;">
						<li class="col-sm-2"><a class="thumbnail"
							id="carousel-selector-0"><img
								src="images/thumb1.png"></a></li>

						<li class="col-sm-2"><a class="thumbnail"
							id="carousel-selector-1"><img
								src="images/Thumb2.png"></a></li>

						<li class="col-sm-2"><a class="thumbnail"
							id="carousel-selector-2"><img
								src="images/Thumb3.png"></a></li>

						<li class="col-sm-2"><a class="thumbnail"
							id="carousel-selector-3"><img
								src="images/Thumb4.png"></a></li>

						<li class="col-sm-2"><a class="thumbnail"
							id="carousel-selector-4"><img
								src="images/Thumb5.png"></a></li>

						<li class="col-sm-2"><a class="thumbnail"
							id="carousel-selector-5"><img
								src="http://placehold.it/170x100&text=six"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	
	
	
	<!--[if lte IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->




</body>

<script type="text/javascript">
$jQ(document).ready(function($jQ ) {
	 
	$jQ ('#myCarousel').carousel({
            interval: 5000
    });

	$jQ ('#carousel-text').html( $jQ('#slide-content-0').html());

    //Handles the carousel thumbnails
  $jQ ('[id^=carousel-selector-]').click( function(){
        var id = this.id.substr(this.id.lastIndexOf("-") + 1);
        var id = parseInt(id);
        $jQ ('#myCarousel').carousel(id);
    });


    // When the carousel slides, auto update the text
   $jQ ('#myCarousel').on('slid.bs.carousel', function (e) {
             var id = $jQ ('.item.active').data('slide-number');
             $jQ ('#carousel-text').html($jQ ('#slide-content-'+id).html());
    });

    
   

  
});

</script>
