
  <div class="container">
    <div class="row">
      
      <div class="col-sm-12 text-center"> Copyright 2015 | All Rights
					Reserved -- Team SudoCoders </div>
    </div>
    <!-- / .row --> 
  </div>
