<!DOCTYPE html>
<html lang="en">

<% include template %>

<body>

	
	<!-- Header Carousel -->
	<header id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="fill"
					style="background-image: url('../images/image1.png');"></div>
				<!--<img class="img-responsive img-full" src="img/slide-2.jpg" style="width:640px;height:360px alt="" >-->
				<!-- for including an image do this -->
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('../images/image2.png');"></div>
			</div>
			<!-- <div class="item">
				<div class="fill"
					style="background-image: url('http://placehold.it/1900x1080&amp;text=Slide Three');"></div>
				<div class="carousel-caption">
					<h2>Caption 3</h2>
				</div>
			</div> -->
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="icon-prev"></span>
		</a> <a class="right carousel-control" href="#myCarousel"
			data-slide="next"> <span class="icon-next"></span>
		</a>
	</header>

	<!-- Page Content -->
	<div class="container">

	

		<!-- Features Section -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Our Vision</h2>
				<p>We integrate information from the best sources to make sure
					that you are equipt with the right tools to get that dream job</p>
				<p>This initiative aims to empower students to know about the
					best paying jobs in America. We tell you about the kinds of
					companies, how they fare with their employees, the skill set needed
					for a particular job and much more.</p>
				<p>Use our site before you go to the other conventional job
					search engines to be informed about what to expect. Additionally
					get to know what a company expects out of you, find out about the
					skills most in demand and the ones required by you to succeed in
					your field.
			</div>
		</div>
		<!-- /.row -->

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Techno Trends 2014</p>
				</div>
			</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script src="../lib/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../lib/bootstrap.min.js"></script>

	<!-- Script to Activate the Carousel -->
	<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
