<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="data/linechart-functions.js"></script>


<body onload="showGraph()">
<% include header %>
<br><br><br><br>
<div class="container">

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>	
<br><br><br>
<% include footer %>

</html>