<!DOCTYPE html>
<html lang="en">
<head>
<title>OCR</title>

<style>
#container {
	min-width: 40%;
	max-width: 50%;
	margin: 0 auto;
}
</style>
</head>


<% include header %>
<br><br><br><br><br><br>


<div id="container"  style=" background-color:#00a1cb" align="center"> <font color="white">Future Enhancement </font><h3 align="center"></h3><br>
<p><font color="white">
Optical Character Recognition (OCR) will be implemented so that the user can convert an already filled paper form to web form using the OCR scanning to get predictions using our system.

</font></p></div>



<br><br><br><br><br><br><br><br><br><br><br><br><br>
<% include socialfooter %>
</body>
</html>