<!DOCTYPE html>
<html lang="en">
<head>
<title>OCR</title>

<style>
#container {
width: 40%;
height: 50%;
	margin: 0 auto;
}
</style>
</head>


<% include header %>
<br><br><br><br><br><br>

<br>
<div   style=" margin-right:6%;float:right;width: 40%;
height: 50%;"><h2> Future Enhancement</h2> <h3 align="center"></h3><br>
<p>
Optical Character Recognition (OCR) will be implemented so that the user can convert an already filled paper form to web form using the OCR scanning to get predictions using our system.

</p></div>

<div  style="float:left; margin-left:6%"><img src="images/OCR.jpg"></div>



<br><br><br><br><br><br><br><br><br><br><br><br><br>
<% include socialfooter %>
</body>
</html>