<!DOCTYPE html>
<html lang="en">
<head>
<title>OCR</title>

<style>
#container {
	min-width: 40%;
	max-width: 50%;
	margin: 0 auto;
}
</style>
</head>


<% include header %>



<div id="container"  style="margin-left:10% ;float:left;"> Future Enhancement <h3 align="center"></h3><br>
<p>
Optical Character Recognition (OCR) will be implemented so that the user can convert the already filled EHR in pdf format to web form to get predictions


</p></div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% include socialfooter %>
</body>
</html>