<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="data/regionmap-functions.js"></script>

<body onload="showGraph()">

<% include header %>
<br><br><br><br>
<div>
<div id="back" style="display: none; margin-right:25%;" align="right">
		<a href="#" onClick="showGraphAgain()">Go Back</a>
	</div>
	<div id="backtodash" style="margin-right:25%;" align="right">
		<a href="/#dashboard" class="btn btn-info">Go Back</a>
	</div>

<div id="container" style="min-width:50%; height:50%; margin: 0 auto"></div>

</div>
<br><br>
<% include footer %>
	
	
	
		


</body>


</html>