<!DOCTYPE html>
<html lang="en">
<head>
<title>Result</title>
</head>

<body onload="">
<% include header %>
<br><br><br>
<div class="container">

<h2>Probability is <%= result %>  </h2>

</div>	
<br><br>
<% include socialfooter %>
</body>
</html>