<!DOCTYPE html>
<html lang="en">
<head>
<title>Result</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/data/gauge-functions.js"></script>

<style>
#container {
	min-width: 40%;
	max-width: 50%;
	margin: 0 auto;
}

</style>
</head>

<body onload="showGraph()">
<% include header %>
<br><br><br>
<div id="aParent" >
<div  style="margin-right:10%; float:right;">
<h3>
<div id="divA" ></div>
<br>
</h3>
<h4>
<div id="divB"></div>
<br>
<div id="divC"></div>
<br>
<div id="divD"></div>
</h4>
<div>
<br>
		<a onClick="history.go(-1);return true;" class="btn btn-info">Edit Form</a>
		<a onclick="window.location='/showEhr';" class="btn btn-info">Submit Another Form</a></div>

</div>
<div id="container"  style="margin-left:10% ;float:left;"> </div>
</div>
<script type="text/javascript">
var resultStatus = "<%= result[0].StatusAtFiling %>";
var resultCStatus = "<%= result[0].CodesStatus %>";

var testdata = "<%= testdata %>"
$.get("/getPrediction/"+testdata, function(answer) {
		if(answer=="Rejected"){
			document.getElementById("divA").style.color ="red"
		}else{
			document.getElementById("divA").style.color ="green"
		}
		document.getElementById("divA").textContent = "Probability is "+ "\"" +answer+ "\"";
		if(answer=="Rejected"){
			document.getElementById("divB").textContent ="Possible reasons of rejection are:"
		
			if(resultStatus == "expired"){
			document.getElementById("divC").textContent= "\u2022 Insurance is Expired";}
			if(resultCStatus == "Mismatch"){
			document.getElementById("divD").textContent= "\u2022 Mismatch in Procedure and Diagnosis Codes";}
		}
});
</script>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% include socialfooter %>
</body>
</html>