<!DOCTYPE html>
<html lang="en">
<head>
<title>Result</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/data/gauge-functions.js"></script>
<script type="text/javascript">

</script>
<style>
#container {
	min-width: 40%;
	max-width: 50%;
	margin: 0 auto;
}
</style>
</head>

<body onload="showGraph()">
<% include header %>
<br><br><br>
<div id="aParent" >
<div  style="margin-right:18%; float:right;">

<div><h2  >Probability is <%= result %>  </h2></div>
<div>
		<a href="/#dashboard" class="btn btn-info">Go Back</a></div>

</div>
<div id="container"  style="margin-left:10% ;float:left;"> </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% include socialfooter %>
</body>
</html>