<!DOCTYPE html>
<html>
<head>
<title>Median SalaryInfo Graph</title>


<meta name="description" content="chart created using amCharts live editor" />

<script type="text/javascript" src="../lib/jquery.js"></script>

<!-- amCharts custom font -->
<link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

<!-- amCharts javascript sources -->
<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/themes/chalk.js"></script>

<!-- amCharts javascript code -->
<script type="text/javascript">

var salarydata;
var chart;

function on_page_load(){
	getData();
	alert("on pageload");
}

function getData(){
	var e = document.getElementById("JobTitles");
	var strUser = e.options[e.selectedIndex].value;
	$.get('/getSalaryInfo/'+strUser, function(results) {
		console.log("got the data!! - 2");
		
		salarydata = results;
		gochart();
		
	});
}

function gochart(){
	
	var chartData = salarydata;
	var chart = new AmCharts.AmSerialChart();
	chart.dataProvider = chartData;
	chart.categoryField = "jobTitle";
	
	var graph = new AmCharts.AmGraph();
	graph.valueField = "medianSalary";
	graph.type = "column";
	graph.fillAlphas = 0.8;
	
	chart.categoryAxis.labelRotation = 45;
	chart.addGraph(graph);
	chart.angle = 30;
	chart.depth3D = 15;
	chart.theme="chalk";
	chart.write('chartdiv');

}
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<!-- Split button -->

<br>

<label>Job Type</label></td>
<form action="">
<select id="JobTitles" name='JobTitles' onchange="getData();">
<option value="software developer">software developer</option>
<option value="frontEnd or UI Developer">frontEnd / UI Developer</option>
<option value="QA&Testing">QA&Testing</option>
<option value="interns">interns</option>
</select>


</div>
</div>
<br>
<br>


<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
</body>
</html>
