<div class="heading text-center"> 
      <!-- Heading -->
      <h2>Our Services</h2>
      <p>Select your method</p>
    </div>
    <div class="row"> 
      <!-- item -->
      <div class="col-md-3 text-center c1"> <i class="fa fa-life-ring fa-2x circle"></i>
        <h3><span class="id-color">Create EHR from PDF</span></h3>
        <p>Fill your EHR form with existing pdf's.</p>
      </div>
      <!-- end: --> 
      
      <!-- item -->
      <div class="col-md-3 text-center c2"> <i class="fa fa-plus-square fa-2x circle"></i>
        <h3><span class="id-color">Fill EHR Manually</span></h3>
        <p>Get suggestions and predictions while you fill your EHR manually.</p>
      </div>
      <!-- end: --> 
      
      <!-- item -->
      <div class="col-md-3 text-center c1"> <i class="fa fa-life-ring fa-2x circle"></i>
        <h3><span class="id-color">Scan EHR from paper</span></h3>
        <p>Simply scan your EHR into the system.</p>
      </div>
      <!-- end: --> 
      
      <!-- item
      <div class="col-md-3 text-center c2"> <i class="fa fa-child fa-2x circle"></i>
        <h3><span class="id-color">Child Care</span></h3>
        <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet conempus.</p>
      </div>
      <!-- end:--> 
    </div>