
  <div class="container">
    <div class="row">
      <div class="social text-center"> <a href="http://gauravshiralkar.github.io/Intuitive-Predictions-EHR"><i class="fa fa-twitter"></i></a> 
      <a href="http://gauravshiralkar.github.io/Intuitive-Predictions-EHR"><i class="fa fa-github"></i></a> 
      <a href="http://gauravshiralkar.github.io/Intuitive-Predictions-EHR"><i class="fa fa-facebook"></i></a></div>
      <div class="col-sm-12 text-center"> Copyright 2015 | All Rights
					Reserved -- Team SudoCoders </div>
    </div>
    <!-- / .row --> 
  </div>
