<!DOCTYPE html>
<html lang="en">
<head>

<style>
#chartdiv {
	width		: 100%;
	height		: 435px;
	font-size	: 11px;
}										

</style>

<script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="http://www.amcharts.com/lib/3/serial.js"></script>
<script src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="data/stacked-functions.js"></script>

</head>

<body onload="getData()">
<% include header %>
<br><br><br>
<div class="container" style="min-width:50%; height:50%; margin: 0 auto">

<div id="backtodash" style="margin-right:25%;" align="right">
		<a href="/#dashboard" class="btn btn-info">Go Back</a>
	</div>
<div id="chartdiv" ></div>
<div class="container-fluid">
  <div class="row text-center" style="overflow:hidden;">
		<div class="col-sm-3" style="float: none !important;display: inline-block;">
			<label class="text-left">Angle:</label>
			<input class="chart-input" data-property="angle" type="range" min="0" max="89" value="30" step="1"/>	
		</div>

		<div class="col-sm-3" style="float: none !important;display: inline-block;">
			<label class="text-left">Depth:</label>
			<input class="chart-input" data-property="depth3D" type="range" min="1" max="120" value="60" step="1"/>
		</div>
	</div>
</div>	
</div>
<br><br>
<% include footer %>
</body>
</html>