<!DOCTYPE html>
<html lang="en">
<head>

<style>
#chartdiv {
	width		: 100%;
	height		: 435px;
	font-size	: 11px;
}										

</style>

<script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="http://www.amcharts.com/lib/3/serial.js"></script>
<script src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">

var data;

function getData() {
	$.get("/getStackedData", function(results) {
		data = results;
		console.log(results);
		setTimeout('showGraph()', 100);
	});
}
function showGraph(){
var chart = AmCharts.makeChart("chartdiv", {
    "theme": "none",
    "type": "serial",
    "dataProvider": data,
    "valueAxes": [{
        "stackType": "3d",
        "unit": "%",
        "position": "left",
        "title": "Percent of Hospitals",
    }],
    "startDuration": 1,
    "graphs": [{
        "balloonText": "EHR adoption in [[category]] with Clinical Notes: <b>[[value]]</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "WithNotes",
        "type": "column",
        "valueField": "WithNotes"
    }, {
        "balloonText": "EHR adoption in [[category]] without Clinical Notes: <b>[[value]]</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "WithoutNotes",
        "type": "column",
        "valueField": "WithoutNotes"
    }],
    "titles": [
       		{
       			"text": "Trends in EHR Adoption showing increased use of advanced functionality"
       		
       		}
       	],
    "plotAreaFillAlphas": 0.1,
    "depth3D": 60,
    "angle": 30,
    "categoryField": "year",
    "categoryAxis": {
        "gridPosition": "start"
    },
    "export": {
    	"enabled": true
     }
});
jQuery('.chart-input').off().on('input change',function() {
	var property	= jQuery(this).data('property');
	var target		= chart;
	chart.startDuration = 0;

	if ( property == 'topRadius') {
		target = chart.graphs[0];
      	if ( this.value == 0 ) {
          this.value = undefined;
      	}
	}

	target[property] = this.value;
	chart.validateNow();
});
}
</script>
</head>

<body onload="getData()">
<% include header %>
<br><br><br>
<div class="container" style="min-width:50%; height:50%; margin: 0 auto">

<div id="backtodash" style="margin-right:25%;" align="right">
		<a href="/#dashboard">Go Back</a>
	</div>
<div id="chartdiv" ></div>
<div class="container-fluid">
  <div class="row text-center" style="overflow:hidden;">
		<div class="col-sm-3" style="float: none !important;display: inline-block;">
			<label class="text-left">Angle:</label>
			<input class="chart-input" data-property="angle" type="range" min="0" max="89" value="30" step="1"/>	
		</div>

		<div class="col-sm-3" style="float: none !important;display: inline-block;">
			<label class="text-left">Depth:</label>
			<input class="chart-input" data-property="depth3D" type="range" min="1" max="120" value="60" step="1"/>
		</div>
	</div>
</div>	
</div>
<br><br>
<% include footer %>
</body>
</html>