<div class="team-content">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Member -->
						<div class="team-member pDark">
							<!-- Image Hover Block -->
							<div class="member-img">
								<!-- Image  -->
								<img class="img-responsive" src="images/Photo1.jpg" alt="">
							</div>
							<!-- Member Details -->
							<h4>Gaurav Shiralkar</h4>
							<!-- Designation -->
							<span class="pos">Team Lead</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Member -->
						<div class="team-member pDark">
							<!-- Image Hover Block -->
							<div class="member-img">
								<!-- Image  -->
								<img class="img-responsive" src="images/Photo3.jpg" alt="">
							</div>
							<!-- Member Details -->
							<h4>Prasad Bidwai</h4>
							<!-- Designation -->
							<span class="pos">Team Member</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Member -->
						<div class="team-member pDark">
							<!-- Image Hover Block -->
							<div class="member-img">
								<!-- Image  -->
								<img class="img-responsive" src="images/Photo2.jpg" alt="">
							</div>
							<!-- Member Details -->
							<h4>Deepna Bains</h4>
							<!-- Designation -->
							<span class="pos">Team Member</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Member -->
						<div class="team-member pDark">
							<!-- Image Hover Block -->
							<div class="member-img">
								<!-- Image  -->
								<img class="img-responsive" src="images/Photo4.jpg" alt="">
							</div>
							<!-- Member Details -->
							<h4>Navneet Dhillon</h4>
							<!-- Designation -->
							<span class="pos">Team Member</span>
						</div>
					</div>
				</div>
			</div>