<!DOCTYPE html>
<html lang="en">
<head>

<style>
/* Inline Style Here */
</style>

<script type="text/javascript">
/* Inline Script Here */
</script>

</head>

<body onload="">
<% include header %>
<br><br><br>
<div class="container">

/* Chart Div or Body Here */

</div>	
<br><br>
<% include footer %>
</body>
</html>