.myButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
	box-shadow: inset 0px 1px 0px 0px #bee2f9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee
		), color-stop(1, #468ccf));
	background: -moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background: -webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background: -o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background: -ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee',
		endColorstr='#468ccf', GradientType=0);
	background-color: #63b8ee;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3866a3;
	display: inline-block;
	cursor: pointer;
	color: #14396a;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #7cacde;
}

.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf
		), color-stop(1, #63b8ee));
	background: -moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background: -webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background: -o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background: -ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf',
		endColorstr='#63b8ee', GradientType=0);
	background-color: #468ccf;
}

.myButton:active {
	position: relative;
	top: 1px;
}

input.error {
	text-color: red;
}

table {
	frame: void;
	border-collapse:collapse;
    border: none;
	cellpadding: 0;
	cellspacing: 0;
	text-align: center;
	white-space: nowrap;
	text-align: center;
	border-style: hidden;
	
	
}

body {
	overflow-x: hidden;
}

table td {
  border: 1px solid #CCCCCC;
}
tr>td {
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.5em
}
.bordered {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px black;
}


        
.bordered th:first-child {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}
th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

th:only-child{
    border-radius: 6px 6px 0 0;
} 
.table-curved {
	overflow:hidden;
    border-collapse: collapse;
    border: solid #ccc 1px;
    border-radius: 25px;
}

.table-curved tr:last-child td
{
    border-bottom-left-radius: 25px;    
    border-bottom-right-radius: 25px;   
}
